body, input, button {
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.text-red {
  color: #f16d7f;
}

/* class btn */
.btn {
  font-size: 15px;
  color: #fff;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: background-color .1s linear;
}

.btn:hover {
  color: #f16d7f;
  background-color: transparent;
  border-color: #f16d7f;
}
/* class btn */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  border-bottom: 1px solid #e6e6e6;
}

.header__inner {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-title {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
}

.brand-title span {
  font-weight: 700;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 38px;
  flex-grow: 1;
}

.search__btn-browse {
  position: relative;
  padding-right: 20px;
  height: 38px;
  min-width: 87px;
  background-color: #f8f8f8;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: border-color .1s linear;
}

.search__btn-browse:hover {
  border-color: #f16d7f;
}

.search__btn-browse::after {
  content: '';
  position: absolute;
  right: 10%;
  top: 45%;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #838383;
}

.search__input {
  height: 38px;
  font-weight: 300;
  min-width: 280px;
  padding: 15px;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-left: none;
}

.search__btn-find {
  height: 38px;
  min-width: 38px;
  background-color: transparent;
  background-image: url('../img/btn_find-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border: 1px solid #e6e6e6;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: border-color .1s linear;
}

.search__btn-find:hover {
  border-color: #f16d7f;
}

.account__btn-cart {
  height: 38px;
  min-width: 38px;
  margin-right: 23px;
  background-color: transparent;
  background-image: url('../img/btn_cart-bg.png');
  /* background-image: url('../img/cart-add.svg'); */
  background-repeat: no-repeat;
  background-position: bottom;
  color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color .1s linear;
}

.account__btn-cart:hover {
  border-color: #f16d7f;
}

.account__btn {
  position: relative;
  padding-right: 20px;
  height: 38px;
  min-width: 130px;
  cursor: pointer;
}

.account__btn::after {
  content: '';
  position: absolute;
  right: 9%;
  top: 45%;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.account__btn:hover::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f16d7f;
}

.nav__menu {
  display: flex;
  justify-content: center;
}

.nav__menu-list {
  position: relative;
}

.last:hover .mega__box {
  right: 0;
  left: auto;
}

.last:hover .mega__box::before {
  left: auto;
  right: 50px;
}

.nav__menu-list:hover .mega__box {
  display: flex;
}

.nav__menu-link {
  display: block;
  color: #222224;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px;
  transition: color .1s linear;
}

/* .nav__menu-link:hover {
  color: #f16d7f;
} */

/* mega-menu */
.mega__box {
  display: none;
  position: absolute;
  top: 48px;
  z-index: 2;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #e8e8e8;
}

.mega__box::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 31px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.mega__item {
  margin-right: 45px;
}

.mega__item:last-of-type {
  margin-right: 0;
}

.mega__heading {
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.mega__link {
  display: block;
  color: #646464;
  line-height: 28px;
}

.mega__link:hover {
  color: #f16d7f;
}

.mega__promo {
  display: block;
  margin-left: -15px;
  margin-top: 16px;
  border: 1px solid transparent;
  transition: border-color .1s linear;
}

.mega__promo:hover {
  border-color:  #f16d7f;
}
/* end of mega-menu */

/* section banner */
.banner {
  background-color: #e8e8e8;
}

.banner__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 614px;
  background-image: url('../img/banner_bg.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.banner__text {
  display: flex;
  text-transform: uppercase;
  position: relative;
}

.heading__title {
  padding-left: 26px;
}

.heading__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 8px;
  z-index: 1;
  width: 12px;
  background-color: #f16d7f;
}

.sup_title {
  font-weight: 900;
  font-size: 60px;
}

.sub_title {
  font-weight: 900;
  font-size: 40px;
}

/* section categories */
.categories {
  margin-top: 100px;
}

.categories__content {
  display: flex;
  justify-content: space-between;
}

.content__left {
  margin-right: 20px;
}

.content__item {
  position: relative;
}

.content__item-badge {
  position: absolute;
  top: 26px;
  z-index: 1;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 20px;
}

.badge__text {
  font-size: 18px;
}

.badge__title {
  font-size: 30px;
  margin-top: 3px;
}

.content__item-img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

/* section featured-items */
.featured-items {
  margin-top: 80px;
}

.section__title {
  text-align: center;
}

.section__title-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section__title-text {
  color: #9f9f9f;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__list {
  margin-top: 60px;
}

.card__list-item {
  width: 263px;
  position: relative;
  margin-bottom: 30px;
}

.card__list-item:hover .add__box {
  display: flex;
}

.card__list-item:hover .item__img {
  filter: brightness(30%);
}

.item__img {
  width: 100%;
  transition: filter .1s linear;
}

.item__link {
  display: block;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
  transition: box-shadow .1s linear;
}

.item__link:hover {
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15)
 }

.item__info {
  padding: 15px 15px 20px 15px;

}

.item__price {
  margin-top: 10px;
  font-weight: 700;
}

.add__box {
  display: none;
  justify-content: center;
  position: absolute;
  top: 98px;
  width: 100%;
  pointer-events: none;
}

.add__btn {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  padding: 8px;
  pointer-events: auto;
}

.add__btn:hover {
  border-color: #f16d7f;
}

.cart__img {
  margin-right: 10px;
}

.add__desc {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.browse__all {
  text-align: center;
}

.link__btn {
  position: relative;
  display: inline-block;
  padding: 14px 44px 14px 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.link__btn-i {
  position: absolute;
  right: 9%;
  bottom: 31%;
}

/* section feature */
.feature {
  margin-top: 110px;
}

.feature__block {
  display: flex;
  justify-content: space-between;
  background-color: #222224;
  color: #fff;
}

.feature__img {
  width: 100%;
  position: relative;
  background-image: url('../img/feature/feature_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.fi__text {
  position: absolute;
  top: 26%;
  left: 5%;
  z-index: 1;
}

.feature__list {
  max-width: 370px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.feature__list-item {
  position: relative;
  padding-left: 110px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 36px;
}

.feature__item-title {
  font-size: 20px;
  font-weight: 700;  
  margin-bottom: 10px;
}

.feature__item-text {
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.feature__item-img {
  position: absolute;
  top: 0;
  left: 9%;
  z-index: 1;
}

.fi__text {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.fi__text-title {
  font-size: 54px;
}

.fi__text-subtitle {
  font-size: 32px;
}

/* section subscribe */
.subscribe {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.subscribe__left,
.subscribe__right {
  display: flex;
  align-items: center;
  height: 438px;
  min-width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__left {
  border-right: 1px solid #e3e3e3;
  background-image: url('../img/subscribe/img_left.jpg');
  justify-content: flex-end;
}

.slider__item {
  position: relative;
  padding: 10px 50px 10px 114px;
}

.slider__item-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider__item-quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.caption__title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.caption__text {
  font-size: 12px;
  font-weight: 300;
}

.slide__selector {
  display: flex;
  margin-top: 43px;
}

.slide__selector-item {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-right: 13px;
  cursor: pointer;
}

.slide__selector-item.active {
  background-color: #f16d7f;
}

.slide__selector-item:hover {
  background-color: #f16d7f;
}

.subscribe__right {
  background-image: url('../img/subscribe/img_right.jpg');
}

.subscribe__slider,
.subscribe__block {
  max-width: 550px;
}

.subscribe__block {
  text-align: center;
  margin-left: 95px;
  padding: 20px;
}

.subscribe__block-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.subscribe__block-subtitle {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.subscribe__input {
  height: 46px;
  min-width: 280px;
  padding: 15px 25px;
  border: 1px solid #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #e1e1e1;
  border-right: none;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__btn {
  height: 46px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  padding: 0 18px;
  font-size: 14px;
}

/* footer */
.footer {
  margin-top: 100px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  color: #898989;
}

.footer__top-left {
  width: 40%;
  padding-right: 30px;
}

.footer__top-right {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-top: 10px;
}

.nav__block-header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.nav__block-list {
  margin-top: 20px;
}

.footer__nav-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #898989;
}

.footer__nav-link:hover {
  color: #f16d7f;
}

.footer__text {
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.3px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.footer__bottom {
  margin-top: 70px;
  background-color: #e8e8e8;
}

.footer__bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #898989;
  font-size: 16px;
  padding: 24px 0;
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  text-align: center;
  line-height: 32px;
  color: #646464;
  background-color: #fff;
  transition: background-color .1s linear, color .1s linear;
}

.social__link:hover {
  color: #fff;
  background-color: #f16d7f;
}

/* single page */
.prod__category {
  background-color: #f8f3f4;
  border-bottom: 1px solid #eaeaea;
}
.prod__category__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.category__title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.breadcrumbs__link {
  text-transform: uppercase;
  font-weight: 700;
  color: #636363;
}

.breadcrumbs__link:hover {
  color: #f16d7f;
}

.breadcrumbs__link.active {
  color: #f16d7f;
}

.prod__slider {
  position: relative;
  z-index: -1;
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 40px;
}

.slider__arrow {
  position: absolute;
  top: 47%;
  height: 46px;
  width: 46px;
  border: 1px solid #d8d8d8;
  background-color: #d8d8d8;
  text-align: center;
  padding-top: 13px;
  color: #fff;
}

.slider__arrow-right {
  right: 0;
}

.prod__image {
  display: block;
  margin: 0 auto;
}

.prod__info {
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-top: -85px;
  padding-bottom: 120px;
}

.prod__info__inner {
  text-align: center;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.prod__suptitle {
  position: relative;
  margin-top: 65px;
  text-transform: uppercase;
  font-weight: 700;
}

.prod__suptitle::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 147px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eaeaea;
}

.prod__suptitle::before {
  content: '';
  position: absolute;
  z-index: 3;
  height: 3px;
  width: 63px;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f16d7f;
}

.prod__subtitle {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}

.prod__text {
  margin-top: 56px;
  font-weight: 300;
}

.prod__details {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.prod__details p {
  padding: 0 20px;
}

.prod__details span {
  color: #b9b9b9;
}

.prod__price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}

.prod__buy {
  margin-top: 40px;
  border-top: 1px solid #eaeaea;
}

.form {
  padding: 63px 45px 0 45px;
  text-align: left;
}

.form__options {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.form__label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  display: block;
  margin-top: 12px;
  padding-left: 10px;
  height: 35px;
  width: 144px;
  border: 1px solid #eaeaea;
  color: #c1c1c1;
}

.form__input::placeholder {
  color: #c1c1c1;
}

.form__btn {
  margin-top: 30px;
  width: 100%;
  line-height: 55px;
  cursor: pointer;
  font-weight: 700;
}

.form__btn i{
  font-size: 20px;
  margin-right: 12px;
}

/* section suggest */
.suggest {
  margin-top: 115px;
}

.suggest__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.subscribe-single__page {
  margin-top: 40px;
}
/* end single page */