html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, button {
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.text-red {
  color: #f16d7f;
}

.btn {
  font-size: 15px;
  color: #fff;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
}

.btn:hover {
  color: #f16d7f;
  background-color: transparent;
  border-color: #f16d7f;
}

.button {
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 0 13px;
  line-height: 46px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: border .1s linear, color .1s linear;
  transition: border .1s linear, color .1s linear;
}

.button:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.button--pink {
  color: #fff;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  -webkit-transition: border .1s linear, color .1s linear, background-color .1s linear;
  transition: border .1s linear, color .1s linear, background-color .1s linear;
}

.button--pink:hover {
  color: #f16d7f;
  border-color: #f16d7f;
  background-color: #fff;
}

.button--small {
  font-size: 11px;
  line-height: 32px;
}

.input {
  color: #b1b1b1;
  width: 355px;
  border: 1px solid #eaeaea;
  padding: 10px 20px;
}

.input::-webkit-input-placeholder {
  color: #b1b1b1;
}

.input:-ms-input-placeholder {
  color: #b1b1b1;
}

.input::-ms-input-placeholder {
  color: #b1b1b1;
}

.input::placeholder {
  color: #b1b1b1;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top {
  border-bottom: 1px solid #eaeaea;
}

.header__inner {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
}

.brand__logo-title {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
}

.brand__logo-span {
  font-weight: 700;
  color: #f16d7f;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 38px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search__btn-browse {
  position: relative;
  padding-right: 20px;
  height: 38px;
  min-width: 87px;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  -webkit-transition: border-color .1s linear;
  transition: border-color .1s linear;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 77px;
  z-index: 20;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px 20px;
  border: 1px solid #eaeaea;
}

.dropdown-menu::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 31px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  background-color: #fff;
}

.dropdown-menu--browse .dropdown-menu__item {
  margin-right: 0;
}

.dropdown-menu--browse .dropdown-menu__item + .dropdown-menu__item {
  margin-top: 10px;
}

.dropdown-menu--browse.show {
  display: block;
}

.search__btn-browse::after {
  content: '';
  position: absolute;
  right: 10%;
  top: 45%;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #838383;
}

.search__input {
  height: 38px;
  font-weight: 300;
  min-width: 280px;
  padding: 15px;
  border: 1px solid #eaeaea;
  border-right: none;
  border-left: none;
}

.search__btn-find {
  height: 38px;
  min-width: 38px;
  background-color: transparent;
  background-image: url("../img/btn_find-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border: 1px solid #eaeaea;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  -webkit-transition: border-color .1s linear;
  transition: border-color .1s linear;
}

.search__btn-find:hover {
  border-color: #f16d7f;
}

.account__btn-cart {
  position: relative;
  height: 38px;
  min-width: 38px;
  margin-right: 23px;
  background-color: transparent;
  background-image: url("../img/btn_cart-2bg.png");
  background-repeat: no-repeat;
  background-position: bottom left 4px;
  color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.account__btn-cart::before {
  position: absolute;
  content: '2';
  display: block;
  top: -5px;
  right: -10px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #f16d7f;
}

.account__btn-cart:hover {
  background-position: bottom right;
}

.cart-menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 226px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 17px;
}

.cart-menu__item:hover .hover__xmark {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 1;
}

.hover__xmark {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 37%;
  color: #c0c0c0;
  font-size: 16px;
  cursor: pointer;
}

.cart-menu__info {
  padding-top: 10px;
  padding-left: 18px;
}

.cart-menu__title {
  margin-bottom: 6px;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
}

.cart-menu__text {
  margin-top: 5px;
  color: #f16d7f;
  font-size: 12px;
}

.cart-menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.button--cart-menu {
  text-align: center;
  display: block;
  margin: 9px 0 4px 0;
}

.cart-menu.show {
  display: block;
}

.cart-menu.dropdown-menu::before {
  left: 20px;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__btn {
  position: relative;
  padding-right: 20px;
  height: 38px;
  min-width: 130px;
  cursor: pointer;
}

.account__btn::after {
  content: '';
  position: absolute;
  right: 9%;
  top: 45%;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.account__btn:hover::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f16d7f;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__menu-list {
  position: relative;
}

.last:hover .dropdown-menu--main {
  right: 0;
  left: auto;
}

.last:hover .dropdown-menu--main::before {
  left: auto;
  right: 50px;
}

.nav__menu-list:hover .dropdown-menu--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu-link {
  display: block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 20px 17px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  border-bottom: 3px solid transparent;
}

.nav__menu-link.nav__menu-link--active {
  border-bottom: 3px solid #f16d7f;
}

/* mega-menu */
.dropdown-menu--main.dropdown-menu {
  top: 46px;
}

.dropdown-menu__item {
  margin-right: 45px;
}

.dropdown-menu__item:last-of-type {
  margin-right: 0;
}

.dropdown-menu__heading {
  border-bottom: 1px solid #eaeaea;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.dropdown-menu__link {
  display: block;
  color: #646464;
  line-height: 28px;
}

.dropdown-menu__link:hover {
  color: #f16d7f;
}

.dropdown-menu__promo {
  display: block;
  margin-left: -15px;
  margin-top: 16px;
  border: 1px solid transparent;
  -webkit-transition: border-color .1s linear;
  transition: border-color .1s linear;
}

.dropdown-menu__promo:hover {
  border-color: #f16d7f;
}

/* end of mega-menu */
/* section banner */
.banner {
  background-color: #e8e8e8;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 614px;
  background-image: url("../img/banner_bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  position: relative;
}

.heading__title {
  padding-left: 26px;
}

.heading__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 8px;
  z-index: 1;
  width: 12px;
  background-color: #f16d7f;
}

.sup_title {
  font-weight: 900;
  font-size: 60px;
}

.sub_title {
  font-weight: 900;
  font-size: 40px;
}

/* section categories */
.categories {
  margin-top: 100px;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__left {
  margin-right: 20px;
}

.content__item {
  position: relative;
  color: #222222;
  -webkit-transition: -webkit-filter .1s linear;
  transition: -webkit-filter .1s linear;
  transition: filter .1s linear;
  transition: filter .1s linear, -webkit-filter .1s linear;
}

.content__item:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.content__item-badge {
  position: absolute;
  top: 26px;
  z-index: 1;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  padding: 12px 20px;
}

.badge__text {
  font-size: 18px;
}

.badge__title {
  font-size: 30px;
  margin-top: 3px;
}

.content__item-img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

/* section featured-items */
.featured-items {
  margin-top: 80px;
}

.section__title {
  text-align: center;
}

.section__title-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section__title-text {
  color: #9f9f9f;
}

.card-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.card-list__item {
  min-width: 263px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  position: relative;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.card-list__item:hover .add__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-list__item:hover .item__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item__img {
  width: 100%;
  -webkit-transition: -webkit-filter .1s linear;
  transition: -webkit-filter .1s linear;
  transition: filter .1s linear;
  transition: filter .1s linear, -webkit-filter .1s linear;
}

.item__link {
  display: block;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: -webkit-box-shadow .1s linear;
  transition: -webkit-box-shadow .1s linear;
  transition: box-shadow .1s linear;
  transition: box-shadow .1s linear, -webkit-box-shadow .1s linear;
}

.item__link:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item__info {
  padding: 15px 15px 20px 15px;
}

.item__price {
  margin-top: 10px;
  font-weight: 700;
}

.add__box {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 98px;
  width: 100%;
  pointer-events: none;
}

.add__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 8px;
  pointer-events: auto;
}

.add__btn:hover {
  border-color: #f16d7f;
}

.cart__img {
  margin-right: 10px;
}

.add__desc {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.browse-all {
  text-align: center;
}

.link__btn {
  position: relative;
  display: inline-block;
  padding: 14px 44px 14px 20px;
  font-weight: 700;
  letter-spacing: .5px;
}

.link__btn-i {
  position: absolute;
  right: 9%;
  bottom: 31%;
}

/* section feature */
.feature {
  margin-top: 110px;
}

.feature__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.feature__img {
  width: 100%;
  position: relative;
  background-image: url("../img/feature/feature_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-list {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #222224;
}

.feature-list__item {
  position: relative;
  padding-left: 110px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 36px;
  width: 370px;
}

.feature-list__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.feature-list__text {
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.feature-list__img {
  position: absolute;
  top: 0;
  left: 9%;
  z-index: 1;
}

.fi__text {
  position: absolute;
  top: 26%;
  left: 5%;
  z-index: 1;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.fi__text-title {
  font-size: 54px;
}

.fi__text-subtitle {
  font-size: 32px;
}

/* section subscribe */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  background-image: url("../img/subscribe/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.subscribe__left,
.subscribe__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 438px;
  width: 800px;
}

.subscribe__left {
  border-right: 1px solid #e3e3e3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 15px;
}

.slider__item {
  position: relative;
  padding: 10px 50px 10px 114px;
}

.slider__item-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider__item-quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.caption__title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.caption__text {
  font-size: 12px;
  font-weight: 300;
}

.slide__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
}

.slide__selector-item {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-right: 13px;
  cursor: pointer;
}

.slide__selector-item.active {
  background-color: #f16d7f;
}

.slide__selector-item:hover {
  background-color: #f16d7f;
}

.subscribe__right {
  padding-right: 15px;
}

.subscribe__slider,
.subscribe__block {
  max-width: 550px;
}

.subscribe__block {
  text-align: center;
  margin-left: 95px;
  padding: 20px;
}

.subscribe__block-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.subscribe__block-subtitle {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.subscribe__input {
  height: 46px;
  min-width: 280px;
  padding: 15px 25px;
  border: 1px solid #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #e1e1e1;
  border-right: none;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__btn {
  height: 46px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  padding: 0 18px;
  font-size: 14px;
}

/* footer */
.footer {
  margin-top: 100px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #898989;
}

.footer__top-left {
  width: 40%;
  padding-right: 30px;
}

.footer__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  padding-top: 10px;
}

.nav-block-header {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.nav-block-list {
  margin-top: 20px;
}

.nav-block-li {
  text-align: center;
}

.footer__nav-link {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  color: #898989;
}

.footer__nav-link:hover {
  color: #f16d7f;
}

.footer__text {
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.3px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.footer__bottom {
  margin-top: 70px;
  background-color: #e8e8e8;
}

.footer__bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #898989;
  font-size: 16px;
  padding: 24px 0;
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  text-align: center;
  line-height: 32px;
  color: #646464;
  background-color: #fff;
  -webkit-transition: background-color .1s linear, color .1s linear;
  transition: background-color .1s linear, color .1s linear;
}

.social__link:hover {
  color: #fff;
  background-color: #f16d7f;
}

/* page product */
.prod-category {
  background-color: #f8f3f4;
  border-bottom: 1px solid #eaeaea;
}

.prod__category-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.prod__category-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.breadcrumbs__link {
  text-transform: uppercase;
  font-weight: 700;
  color: #636363;
}

.breadcrumbs__link:hover {
  color: #f16d7f;
}

.breadcrumbs__link.active {
  color: #f16d7f;
}

.prod__slider {
  position: relative;
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 40px;
}

.slider__arrow {
  position: absolute;
  top: 47%;
  height: 46px;
  width: 46px;
  z-index: 100;
  border: 1px solid #d8d8d8;
  background-color: #d8d8d8;
  text-align: center;
  padding-top: 13px;
  color: #fff;
  cursor: pointer;
}

.slider__arrow:hover {
  color: #f16d7f;
}

.slider__arrow-right {
  right: 0;
}

.prod__image {
  display: block;
  margin: 0 auto;
}

.prod__info {
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding-bottom: 120px;
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

.prod__info__inner {
  text-align: center;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.prod__suptitle {
  position: relative;
  margin-top: 65px;
  text-transform: uppercase;
  font-weight: 700;
}

.prod__suptitle::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 147px;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #eaeaea;
}

.prod__suptitle::before {
  content: '';
  position: absolute;
  z-index: 3;
  height: 3px;
  width: 63px;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #f16d7f;
}

.prod__subtitle {
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}

.prod__text {
  margin-top: 56px;
  font-weight: 300;
}

.prod__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.prod__details p {
  padding: 0 20px;
}

.prod__details span {
  color: #b9b9b9;
}

.prod__price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}

.prod__buy {
  margin-top: 40px;
  border-top: 1px solid #eaeaea;
}

.form {
  padding: 63px 45px 0 45px;
  text-align: left;
}

.form__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  display: block;
  margin-top: 12px;
  padding-left: 10px;
  height: 35px;
  width: 144px;
  border: 1px solid #eaeaea;
  color: #c1c1c1;
}

.form__input::-webkit-input-placeholder {
  color: #c1c1c1;
}

.form__input:-ms-input-placeholder {
  color: #c1c1c1;
}

.form__input::-ms-input-placeholder {
  color: #c1c1c1;
}

.form__input::placeholder {
  color: #c1c1c1;
}

.form__btn {
  margin-top: 30px;
  width: 100%;
  line-height: 55px;
  cursor: pointer;
  font-weight: 700;
}

.form__btn i {
  font-size: 20px;
  margin-right: 12px;
}

/* section suggest */
.suggest {
  margin-top: 38px;
}

.suggest__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.subscribe-single__page {
  margin-top: 40px;
}

/* page checkout */
.mb30 {
  margin-bottom: 30px;
}

.block__checkout {
  margin-top: 80px;
}

.details {
  border-bottom: 1px solid #eaeaea;
  padding: 28px 0;
}

.summary {
  list-style-type: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.address__form {
  padding-left: 30px;
  padding-bottom: 50px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address__left,
.address__right {
  width: 570px;
}

.checkout__heading {
  margin-top: 28px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.checkout__para {
  margin-top: 8px;
  color: #b3b2b2;
}

.checkout__label {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.checkout__arrows {
  letter-spacing: -3px;
  padding-right: 5px;
}

.checkout__input[type="radio"]:last-of-type {
  margin-top: 13px;
}

.checkout__input[type="radio"] {
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.input--checkout-email,
.input--checkout-password {
  min-width: 390px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.checkout__label::after {
  display: none;
  content: '*';
  color: red;
  font-size: 17px;
  padding-left: 4px;
  position: relative;
  top: 3px;
}

.checkout__label.required::after {
  display: inline;
}

.checkout__fields {
  color: red;
  font-size: 13px;
}

.checkout__hint {
  padding-left: 30px;
  font-size: 14px;
  color: #222222;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.checkout__hint:hover {
  color: #f16d7f;
}

.checkout__fields::before {
  content: '*';
  padding-right: 3px;
}

.button--checkout {
  margin-top: 38px;
}

/* page shopping cart */
.sp-cart {
  padding-top: 90px;
}

.sp-cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 1px solid #eaeaea;
  text-align: right;
}

.sp-cart__heading {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

.sp-cart__heading--prod {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sp-cart__heading--action {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
}

.sp-cart__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0 25px;
  border-bottom: 1px solid #eaeaea;
}

.sp-cart__item {
  -ms-flex-preferred-size: 152px;
      flex-basis: 152px;
  color: #595959;
  font-size: 13px;
  text-transform: uppercase;
}

.sp-cart__item--first {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-cart__product-info {
  padding-left: 20px;
  padding-top: 12px;
  font-weight: 700;
  text-transform: initial;
}

.sp-cart__product-title {
  color: #222222;
  text-transform: uppercase;
}

.sp-cart__product-color {
  margin-top: 28px;
}

.sp-cart__item--action {
  -ms-flex-preferred-size: 136px;
      flex-basis: 136px;
  text-align: right;
  padding-right: 18px;
}

.sp-cart__product-color {
  margin-bottom: 4px;
}

.sp-cart__product-gray {
  color: #6b6a6a;
  font-weight: 300;
  padding-left: 6px;
}

.xmark--sp-cart {
  color: #c0c0c0;
  font-size: 16px;
  cursor: pointer;
}

.sp-cart__btn-block {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button--sp-cart {
  min-width: 240px;
}

.sp-cart__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sp-cart__form {
  -ms-flex-preferred-size: 31.333%;
      flex-basis: 31.333%;
}

.sp-cart__form-inner {
  text-align: right;
  background-color: #f5f3f3;
  padding: 38px;
}

.sp-cart__forms {
  margin-top: 55px;
}

.form-heading {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-heading--form {
  padding-top: 10px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
}

.form-text {
  margin-bottom: 20px;
}

.form-subtotal {
  text-transform: uppercase;
  font-size: 11px;
}

.form-subtotal__num {
  padding-left: 15px;
}

.input--sp-cart {
  margin-bottom: 20px;
}

.button--sp-form {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* page catalog */
.feature-wrapper {
  background-color: #222224;
}

.feature-list--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  text-align: center;
}

.feature-list__item--catalog {
  position: static;
  padding-left: 20px;
}

.feature-list__img--catalog {
  position: static;
  margin-bottom: 10px;
}

.subscribe--catalog {
  margin-top: 0;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.catalog-filter-aside {
  -ms-flex-preferred-size: 21.5%;
      flex-basis: 21.5%;
}

.catalog-content {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.filter-heading {
  display: block;
  position: relative;
  color: #6f6e6e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  padding: 9px 4px 9px 10px;
  margin-bottom: 8px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #eaeaea;
}

.filter-heading:hover {
  color: #f16d7f;
}

.filter-heading::-webkit-details-marker {
  display: none;
}

.filter-heading::after {
  content: '\f0d7';
  position: absolute;
  right: 6px;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
}

.filter-details[open] .filter-heading {
  color: #f16d7f;
}

.filter-details[open] .filter-heading::after {
  content: '\f0d8';
}

.filter__list-item {
  display: block;
  color: #6f6e6e;
  line-height: 35px;
  padding-left: 16px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.filter__list-item:hover {
  color: #f16d7f;
}

.content-filter-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-top__item {
  -webkit-box-flex: 32%;
      -ms-flex: 32%;
          flex: 32%;
  color: #6f6e6e;
}

.filter-top__item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.filter-top__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__list-item--top {
  line-height: 14px;
  padding: 0 12px 0 0;
  margin: 8px 8px 6px 0;
  border-right: 2px solid #eaeaea;
}

.filter__list-item--top:last-child {
  border-right: none;
}

.filter-checkbox {
  min-width: 48.7px;
  padding-top: 6px;
  margin-right: 16px;
}

.filter-checkbox-label {
  color: #6f6e6e;
}

.price-filter__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.range-slider {
  margin-top: 22px;
  margin-bottom: 20px;
  height: 6px;
  background-color: #f0f0f0;
  border-radius: 4px;
  position: relative;
}

.range-slider .range-slider__progress {
  position: absolute;
  height: 6px;
  left: 8%;
  right: 63%;
  border-radius: 4px;
  background-color: #f16d7f;
}

.range-input {
  position: relative;
}

.range-min,
.range-max {
  position: absolute;
  top: -2px;
  height: 6px;
  width: 100%;
  pointer-events: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.range-min::-webkit-slider-thumb,
.range-max::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  pointer-events: auto;
  background-color: #f16d7f;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 50%;
}

.range-min::-moz-range-thumb,
.range-max::-moz-range-thumb {
  height: 17px;
  width: 17px;
  pointer-events: auto;
  background-color: #f16d7f;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
}

.content-filter-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 30px;
}

.filter-bottom__span {
  padding: 6px 10px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #6f6e6e;
  font-size: 14px;
}

.filter-bottom__select {
  border: 1px solid #eaeaea;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 8px;
  color: #6f6e6e;
  font-family: 'Lato', sans-serif;
}

.pagination__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.pag__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eaeaea;
  padding: 0 7px;
}

.pag__num-link {
  color: #6f6e6e;
  font-size: 16px;
  font-weight: 300;
  padding: 11px 8px;
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
}

.pag__num-link:hover {
  color: #f16d7f;
}

.button--pagination {
  width: 160px;
}

@media screen and (max-width: 1570px) {
  .dropdown-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-menu .dropdown-menu__item + .dropdown-menu__item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1040px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__left,
  .subscribe__right {
    height: 260px;
  }
  .subscribe__left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe__block {
    margin-left: 0;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__top-left {
    width: 80%;
    padding-right: 0;
  }
  .footer__top-right {
    width: 100%;
  }
  .cart-menu {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 850px) {
  .account__btn {
    min-width: 45px;
    background-color: transparent;
    background-image: url("../img/header-user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    border: none;
    font-size: 1px;
    color: transparent;
  }
  .account__btn::after {
    display: none;
  }
  .account__btn:hover {
    color: transparent;
  }
  .categories__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__left {
    margin-right: 0;
  }
  .card-list__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature-list {
    width: 100%;
  }
  .feature-list__item {
    margin: 36px auto;
  }
  .feature__img {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .search {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
  .brand {
    -webkit-box-flex: 9;
        -ms-flex-positive: 9;
            flex-grow: 9;
  }
  .search__input {
    display: none;
  }
  .search__btn-browse {
    font-size: 0;
    background-image: url("../img/header-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 63%;
    margin-right: 12px;
    padding-right: 0;
    min-width: 48px;
    background-color: transparent;
    border: none;
  }
  .search__btn-browse::after {
    display: none;
  }
  .search__btn-find {
    background-image: url("../img/header-find.svg");
    background-size: 80%;
    border: none;
    margin-right: 10px;
  }
  .nav__menu {
    display: none;
  }
  .dropdown-menu--browse {
    right: 10%;
  }
  .banner__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: none;
  }
  .sup_title {
    font-size: 50px;
  }
  .sub_title {
    font-size: 30px;
  }
  .feature-list {
    padding: 0;
  }
  .feature-list__item {
    margin: 36px auto;
  }
  .feature-list__item {
    padding-left: 20px;
    text-align: center;
  }
  .feature-list__img {
    position: static;
    display: block;
    margin: 0 auto 18px;
  }
}

@media screen and (max-width: 500px) {
  .brand__logo-title {
    display: none;
  }
  .sup_title {
    font-size: 40px;
  }
  .sub_title {
    font-size: 20px;
  }
  .badge__text {
    font-size: 12px;
  }
  .badge__title {
    font-size: 14px;
  }
  .feature-list__item {
    width: 100%;
  }
  .subscribe__left {
    display: none;
  }
  .subscribe__input {
    min-width: initial;
  }
  .footer {
    margin-top: 30px;
  }
  .footer__bottom__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copyright {
    margin-bottom: 18px;
  }
  .footer__top-left {
    width: 100%;
    text-align: center;
  }
  .footer__top-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
